# --- Arduino Build Output ---
# Ignore folders created during the build process
build/
bin/
obj/

# --- Compiled Files ---
# Ignore specific binary and object files
*.hex
*.elf
*.o
*.a
*.so
*.out

# --- IDE-Specific Files ---
# Arduino IDE 2.x and internal logs
.arduino/
arduino-ide-extension/
*.log
inols*.log

# Visual Studio / Visual Micro
_vm/
.vs/
*.vcxproj
*.user

# --- OS-Specific Files ---
.DS_Store
Thumbs.db
